<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007346672259-sgl8265e2vsodgst8jcdi458l6r8o6eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007346672259-sgl8265e2vsodgst8jcdi458l6r8o6eu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007346672259-05ejc8msphhj0lsqivvr31rcc1lccqnu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDnDtgynDzA6Zi8tkbtFzw_xKgEFF0rbc</string>
	<key>GCM_SENDER_ID</key>
	<string>1007346672259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beomytech.test.app</string>
	<key>PROJECT_ID</key>
	<string>beomytech-test</string>
	<key>STORAGE_BUCKET</key>
	<string>beomytech-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007346672259:ios:560664011ab05be61331b6</string>
</dict>
</plist>